@import "tailwindcss";

@theme inline {
  --color-background: #050505;
  --color-foreground: #fafafa;
  --color-brand: #6366f1;
  --color-gold: #fbbf24;

  --font-sans: var(--font-inter);
  --font-display: var(--font-outfit);
}

/* Custom Utilities */
@utility container-custom {
  @apply max-w-7xl mx-auto px-6 sm:px-12;
}

@utility text-gold {
  @apply text-[#fbbf24];
}

:root {
  --background: #050505;
  --foreground: #fafafa;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-display);
}

/* Smooth Scrolling setup for Lenis */
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}